*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-right: 1vw;
  padding-left: 1vw;
  background-color: #192d2d;
  color: #dee6ed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title,
p {
  display: grid;
  place-content: center;
  padding: 2vw;
}

#table {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(18, auto);
  gap: 0.2vw;
}

.cell-2 {
  grid-column-start: -2;
}

.cell-5,
.cell-13 {
  grid-column-start: 13;
}

.cell-58,
.cell-90 {
  grid-column-start: 3;
}

.element {
  width: 4.5vw;
  aspect-ratio: 1;
  border: solid 1px #dee6ed;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.elm-hover:hover,
.elm-hover:focus {
  background-color: crimson;
  cursor: pointer;
}

.name {
  font-size: 0.6vw;
  visibility: hidden;
}

.show-name {
  visibility: visible;
}

.element .symbol {
  font-size: 1.4vw;
}

.element .number {
  font-size: 0.7vw;
}

#dialog::backdrop {
  backdrop-filter: blur(2px);
}

.dialog-style {
  padding: 2rem;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  width: 40%;
  display: grid;
  place-items: center;
  gap: 2rem;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

#input {
  width: 25ch;
  height: 2vw;
  text-align: center;
}

#hint-btn {
  width: 25ch;
  height: 2vw;
  opacity: 0.5;
  outline: #192d2d;
  cursor: pointer;
}

.good-answer {
  background-color: rgb(101, 150, 28);
}
