:root {
  --sizing: 0px;
  --progress: 0%;
}

.element > *::selection {
  color: none;
  background-color: transparent;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-right: 1vw;
  padding-left: 1vw;
  background-color: #192e2e;
  color: #dee6ed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

#start-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5vw;
  align-items: center;
  background-color: #192e2ef8;
}

.title {
  font-size: 8vw;
}

.intro {
  font-size: 2vw;
}

.description {
  font-size: 2vw;
}

.title,
.description,
.intro {
  display: grid;
  place-content: center;
  padding: 1vw;
  text-transform: uppercase;
}

#table {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(18, auto);
  gap: 0.2vw;
  padding: 1.5vh 0;
}

.cell-2 {
  grid-column-start: -2;
}

.cell-5,
.cell-13 {
  grid-column-start: 13;
}

.cell-58,
.cell-90 {
  grid-column-start: 3;
}

.element,
.fake-element {
  width: 5vw;
  aspect-ratio: 1;
  border: solid 1px #dee6ed;
  padding: 0.2rem;
  color: #dee6ed;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.elm-hover:hover,
.elm-hover:focus,
#hint-btn:hover,
#hint-btn:focus,
.link:hover,
.link:focus {
  background-color: #dc143c;
  cursor: pointer;
}

.fake-element:hover {
  animation: flash 0.1s ease-in 1 backwards;
}

.fake-element {
  width: 12vw;
  opacity: 1;
  animation: flash 2s ease-in-out 20 alternate;
}

.fake-element .name {
  font-size: 1.2vw;
  text-transform: uppercase;
}
.fake-element .symbol {
  font-size: 2.5vw;
}
.fake-element .number {
  font-size: 1.5vw;
}

.element .name {
  font-size: 0.55vw;
  visibility: hidden;
}

.element .show-name {
  visibility: visible;
  text-transform: uppercase;
}

.element .symbol {
  font-size: 1.4vw;
}

.element .number {
  font-size: 0.8vw;
}

.dialog-style {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 2rem;
  margin: auto;
  background-color: #192e2e;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 6px;
  border: #dc143c70 1px solid;
}

.wrong-enter {
  box-shadow: 0px 0px var(--sizing) var(--sizing) #dc143c inset;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

#input {
  width: 30ch;
  padding: 1vh 0;
  text-align: center;
  text-transform: uppercase;
}

#hint-btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  border: #dee6ed 1px solid;
  padding: 0.4em 1em;
  background-color: #192e2e;
  color: #dee6ed;
  cursor: pointer;
  text-transform: uppercase;
}

.good-answer {
  background-color: #65961c;
  transition: background-color 0.5s ease-out;
  cursor: grab;
}

.block-background {
  pointer-events: none;
  cursor: none;
}

#scoresheet {
  text-align: center;
  margin: 0 auto;

  padding: 0.2vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 5vw;
  font-weight: 800;
  display: flex;
  border: solid 1px white;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
}

.subcontainer {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5vw;
}

#hints {
  font-size: 1vw;
  opacity: 0.5;
  text-transform: uppercase;
}

#reset-btn {
  padding: 0.5em 1.5em;
  max-width: 30vw;
  text-align: center;
  text-transform: uppercase;
}

footer {
  color: #dee6ed;
  font-size: 1.4svh;
  position: fixed;
  inset: auto 1px 1px;
  background: #65961c;
  background: linear-gradient(
    90deg,
    #65961c var(--progress),
    #65961c00 var(--progress),
    #65961c00 100%
  );
}

.link {
  color: #65961c;
  mix-blend-mode: color-dodge;
  text-decoration: none;
}

@keyframes flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#element-summary {
  position: absolute;
  left: 15vw;
  top: 6vw;
  width: 50vw;
  max-height: 10vw;
  color: #dee6ed;
  font-weight: 300;
  font-size: 1.2vw;
  line-height: 1.6;
  background-color: #dc143c50;
  padding: 0 5px;
}

.hide {
  display: none;
}
